/* iOSでのデフォルトスタイルをリセット */
input[type="submit"],
input[type="button"] {
  // border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
    &::-webkit-search-decoration {
      display: none;
    }
    &::focus {
      outline-offset: -2px;
    }
}
$main-color: #f4ad49;
$btn-color: #db5565;
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
// index.html.slim
.content-give-me {
	width:345px;
	margin: 30px auto 25px;
	.give-me-list {
		border: 1px solid #ccc;
		border-left: 5px solid #f4ad49;
		padding: 15px;
		margin-bottom: 15px;
		.pd-15 {
			padding: 15px;
			padding-bottom: 0;
		}
		.giver-prof-icon img {
			width: 40px;
			height:40px;
			object-fit: cover;
			border-radius: 50%;
			float: left;
			border: 2px solid #EFCF60;
			margin-right: 10px;
			box-sizing: content-box;
		}
		.gm-name-box {
			float: left;
			.gm-name{
				font-size: 13px;
			    color: #4A4A4A;
			    font-weight: 600;
			    padding-top: 3px;
			}
			.timestamp {
				font-size: 10px;
		    	display: block;
		    	color: #9b9b9b;
			}
		}
		.gm-edit-btn, .gm-delete-btn {
		    a {
		    	padding-top: 2px;
		    	padding-left: 10px;
				color: #4A4A4A;
    			font-size: 12px;
    			float: right;
			}
		}
		p {
			font-size: 12px;
		    color: #333;
		    padding: 5px 15px;
		}
		.comment-do {
			text-align: center;
		    font-size: 12px;
		    color: #4a4a4a;
		    border-top: 1px solid #ccc;
		    padding: 5px 0;
		}
		.comment-do:before {
			background-image: url(../images/comment-icon.png);
	        content: '';/*何も入れない*/
	        display: inline-block;/*忘れずに！*/
	        width: 18px;/*画像の幅*/
	        height: 18px;/*画像の高さ*/
	        background-size: contain;
	        position: relative;
	        top: 4px;
	        margin-right: 7px;
		}
	}
	.pd-0 {
		padding: 0;
	}
	// .give-me-list:nth-child(5n-4) {
	// 	border-left: 5px solid #EFCF60;
 //    	.giver-prof-icon img {
	// 		border: 2px solid #EFCF60;
	// 	}
	// }
	// .give-me-list:nth-child(5n-3) {
	// 	border-left: 5px solid #60B0EF;
 //    	.giver-prof-icon img {
	// 		border: 2px solid #60B0EF;
	// 	}
	// }
	// .give-me-list:nth-child(5n-2) {
	// 	border-left: 5px solid #F4AD49;
 //    	.giver-prof-icon img {
	// 		border: 2px solid #F4AD49;
	// 	}
	// }
	// .give-me-list:nth-child(5n-1) {
	// 	border-left: 5px solid #DB5565;
 //    	.giver-prof-icon img {
	// 		border: 2px solid #DB5565;
	// 	}
	// }
	// .give-me-list:nth-child(5n) {
	// 	border-left: 5px solid #7ED321;
 //    	.giver-prof-icon img {
	// 		border: 2px solid #7ED321;
	// 	}
	// }
}
.gm-create-item-btn {
	background: rgba(219,85,101,0.9);
	width: 105px;
	height: 102px;
	border-radius: 50%;
	text-align: center;
	position: fixed;
    right: -13px;
    bottom: -13px;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.4);
    z-index: -1;
	.create-item {
		font-size: 13px;
	    line-height: 17px;
	    padding: 26px 0 3px;
	    position: relative;
    	left: -3px;
   		color: #fff;
		display: block;
	}
	.gm-post-icon {
		width: 40px;
	}
}
.give-me-index {
	.giver-prof-icon {
		padding: 15px 15px 0 15px;
	}
	.gm-content {
		padding: 15px;
	}
	.give-me-list {
		padding: 0;
	}
}
// show.html.slim
.comment-content-title {
	font-size: 14px;
	font-weight: 400;
	margin: 0 15px 15px 30px;
    padding-bottom: 5px;
}
.comment-content {
	.comment-list {
		margin-bottom: 15px;
		.comment-box {
			img {
				width: 30px;
			    height: 30px;
			    object-fit: cover;
			    border-radius: 50%;
			    float: left;
			    margin-left: 30px;
			}
			.comment-text-box {
				max-width: 270px;
				background: #f2f3f5;
				margin: 0 15px;
			    padding: 10px;
			    border-radius: 5px;
			    float: left;
			    .comment-name {
			    	font-size: 10px;
		    		font-weight: 600;
		    		color: #4A4A4A;
			    }
			    p {
			    	font-size: 12px;
			    }
			}
		}
		.timestamp {
			padding-left: 75px;
		    font-size: 10px;
		    color: #9B9B9B;
		}
		.comment-delete-btn, .comment-edit-btn {
			padding-left: 10px;
			font-size: 10px;
			a {
				color: #9B9B9B;
			}
		}
	}
}
.comment-form {
	margin: 28px 15px 30px 30px;
	padding: 8px 10px 10px 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 69%;
    height: 36px;
    float: left;
}
.comment-submit {
	padding: 8px;
    background: #f4ad49;
    border-radius: 5px;
    color: #fff;
}
.to-chat {
    a {
        display: block;
        background: $btn-color;
        font-size: 16px;
        color: #fff;
        margin: 15px;
        text-align: center;
        padding: 15px 0;
        border-radius: 50px;
        box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.3);
        font-size: 16px;
        color: #fff;
    }
    .attention {
        font-size: 11px;
        padding-left: 15px;
        padding-bottom: 30px;
    }
}

// edit.html.slim
.create-gm, .edit-gm {
	background: #f2f2f2;
	height: 100vh;
	.create-gm-title, .edit-gm-title {
	font-size: 20px;
	font-weight: 400;
	color: #333;
	background: #fff;
	text-align: center;
	padding-top: 25px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
	}
	.content-text {
		font-size: 14px;
		padding-left: 15px;
		margin-top: 5px;
		margin-bottom: 20px;
		background: #fff;
		display: block;
		width: 100vw;
		height: 50px;
		border: transparent;
		padding-top: 15px;
		height: 215px;
	}
	.field-title {
		font-size: 14px;
		color: #666;
		padding-left: 15px;
	}
	.gm-edit-field, .gm-create-field {
		padding-top: 15px;
		font-size: 14px;
   		color: #666;
    	input::placeholder, textarea::placeholder {
		font-size: 14px;
		color: #ccc;
		}
	}
	.actions {
		text-align: center;
		background: $btn-color;
		margin: 60px 15px;
    	border-radius: 50px;
    	line-height: 50px;
    	box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
    	input[type="submit"] {
    		font-size: 16px;
    		color: #fff;
    	}
	}
}
// _give_me.slim
.give_mes {
	padding: 15px;
	z-index: -2;
    position: relative;
	// .give_me:nth-child(5n-4) {
	// 	border-left: 5px solid #EFCF60;
	// }
	// .give_me:nth-child(5n-3) {
	// 	border-left: 5px solid #60B0EF;
	// }
	// .give_me:nth-child(5n-2) {
	// 	border-left: 5px solid #F4AD49;
	// }
	// .give_me:nth-child(5n-1) {
	// 	border-left: 5px solid #DB5565;
	// }
	// .give_me:nth-child(5n) {
	// 	border-left: 5px solid #7ED321;
	// }
	.give_me {
		border: 1px solid #ccc;
		border-left: 5px solid #F4AD49;
		margin-bottom: 15px;
		.user {
			margin-bottom: 0;
			.gm-list {
				padding: 15px;
				.gm-name-box {
					.timestamp {
						font-size: 11px;
					    color: #999;
					    font-weight: 500;
			    		display: block;
			    		padding: 0;
					}
				}
				p {
					font-size: 12px;
				    font-weight: 400;
				    color: #333;
				    padding-top: 5px;
				    margin-bottom: 0;
				}

			}
			.comment-do {
				margin-bottom: 0;
				text-align: center;
			    font-size: 12px;
			    font-weight: 400;
			    color: #4a4a4a;
			    border-top: 1px solid #ccc;
			    padding: 5px 0;
			}
			.comment-do:before {
				background-image: url(../images/comment-icon.png);
		        content: '';/*何も入れない*/
		        display: inline-block;/*忘れずに！*/
		        width: 18px;/*画像の幅*/
		        height: 18px;/*画像の高さ*/
		        background-size: contain;
		        position: relative;
		        top: 4px;
		        margin-right: 7px;
			}
		}
	}
}