$main-color: #f4ad49;
$btn-color: #db5565;
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
.tl-total {
	padding-top: 25px;
	text-align: center;
	.tl-total-text {
		font-size: 14px;
	}
	.tl-total-number {
		background: url(../images/total-tl-bird.png);
		width: 66px;
		height: 75px;
		color: #f4ad49;
		font-size: 18px;
	    font-weight: 600;
		background-size: contain;
		margin: 10px auto 25px;
		line-height: 57px;
		// border: 2px solid #ccc;
		// border-radius: 50%;
	}
}
.pub-tl {
	margin: 15px;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.2);
    background: #fdf9dd;
    background-size: contain;
    .oshogatsu-tl {
    	width: 100%;
    	position: relative;
    	top: -6px;
    }
    .oshogatsu-tl-under {
    	width: 100%;
    	position: relative;
    	bottom: -10px;
    }
    .tl-name-box {
    	padding: 5px 10px 0 10px;
    	img {
			width: 30px;
		    height: 30px;
		    object-fit: cover;
		    border-radius: 50%;
		    float: left;
		}
		.to-icon {
			font-size: 18px;
			font-weight: 600;
			color: #666666;
			float: left;
			padding: 0 5px;
		}
		.tl-name {
			font-size: 12px;
			font-weight: 500;
			line-height: 30px;
			color: #333;
			padding-left: 9px;
			float: left;
		}
		.thanks-bird {
			float: left;
			width: 35px;
  			margin-top: 6px;
			transform: scale(-1,1);
			height: auto;
    		border-radius: 0;
		}
    }
    .timestamp {
	    font-size: 10px;
	    color: #888;
	    padding-left: 10px;
	 }
    .pub-tl-text {
    	font-size: 12px;
    	line-height: 20px;
    	color: #333;
    	padding: 5px 10px 15px 10px;
    }
    .comment-do {
    	font-size: 12px;
		color: #4a4a4a;
		padding: 0 10px;
		float: left;
    }
    .comment-do:before {
    	background-image: url(../images/thank-you-icon.png);
        content: '';/*何も入れない*/
        display: inline-block;/*忘れずに！*/
        width: 18px;/*画像の幅*/
        height: 18px;/*画像の高さ*/
        background-size: contain;
        position: relative;
        top: 6px;
        margin-right: 7px;
    }
    .thank-you-icon {
    	float: right;
	    width: 25px;
	    height: 25px;
	    position: relative;
	    top: 10px;
	    right: 10px;
    }
}
