
/* iOSでのデフォルトスタイルをリセット */
input[type="submit"],
input[type="button"] {
  // border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
    &::-webkit-search-decoration {
      display: none;
    }
    &::focus {
      outline-offset: -2px;
    }
}
$btn-color: #db5565;
//***************サンクスレター送信(thanksletters/_form.slim)//***************
.create-tl {
	.create-tl-title {
		font-size: 20px;
		font-weight: 400;
		color: #333;
		background: #fff;
		text-align: center;
		padding-top: 25px;
	    padding-bottom: 5px;
	    border-bottom: 1px solid #ccc;
	}
	.tl-name {
		text-align: center;
	    font-size: 14px;
	    font-weight: 300;
	    padding: 40px 0 25px;
	}
	.field {
		padding: 15px;
		.field-title {
			font-size: 14px;
    		font-weight: 300;
		}
		.content-text {
			width: 345px;
    		height: 200px;
    		margin-top: 5px;
    		padding: 10px;
    		border: transparent;
    		font-size: 14px;
    		border-radius: 3px;
    		box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
          	background: url(../images/thanks-letter-img.png);
          	background-size: contain;
		}
	}
	.actions {
		text-align: center;
	    background: $btn-color;
	    width: 345px;
	    height: 50px;
	    margin: 60px auto 0;
	    border-radius: 50px;
	    line-height: 50px;
	    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
	    input[type="submit"] {
        font-size: 16px;
        color: #fff;
      }
	}
}
	// show.html.slim
.thanks-letter {
      margin: 15px 15px 30px;
      padding: 15px;
      border-radius: 3px;
      box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
      background: url(../images/thanks-letter-img.png);
      background-size: contain;
      .user {
        margin-bottom: -8px;
        .tl-prof-icon {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
          float: left;
          margin-right: 10px;
        }
        a {
          font-size: 14px;
          color: #444;
          font-weight: 400;
          text-decoration: none;
        }
      }
      .delete-btn {
        img {
          width: 18px;
          float: right;
          margin-top: -17px;
        }
      }
      .timestamp {
        font-size: 10px;
        color: #888;
        display: inherit;
        padding: 5px 0 10px;
      }
      .thanks-letter-text {
        p {
          font-size: 12px;
          color: #444;
        }
      }
      .comment-text {
        float: left;
        font-size: 12px;
        color: #808080;
      }
      .thanks-bird {
        width: 35px;
        float: right;
      }
}
