// Place all the styles related to the Thanksletters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$btn-color: #db5565;
//***************サンクスレター送信(thanksletters/_form.slim)//***************
.create-tl {
	.create-tl-title {
		font-size: 20px;
		font-weight: 400;
		color: #333;
		background: #fff;
		text-align: center;
		padding-top: 25px;
	    padding-bottom: 5px;
	    border-bottom: 1px solid #ccc;
	}
	.tl-name {
		text-align: center;
	    font-size: 14px;
	    font-weight: 300;
	    padding: 40px 0 25px;
	}
	.field {
		padding: 15px;
		.field-title {
			font-size: 14px;
    		font-weight: 300;
		}
		.content-text {
			width: 345px;
    		height: 200px;
    		margin-top: 5px;
    		padding: 10px;
    		border: transparent;
    		font-size: 14px;
    		border-radius: 3px;
    		box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
          	background: url(../images/thanks-letter-img.png);
          	background-size: contain;
		}
	}
	.actions {
		text-align: center;
	    background: $btn-color;
	    width: 345px;
	    height: 50px;
	    margin: 60px auto 0;
	    border-radius: 50px;
	    line-height: 50px;
	    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
	    input[type="submit"] {
        font-size: 16px;
        color: #fff;
      }
	}
}
